{% extends 'base.html.twig' %}

{% block title %}Translatable index{% endblock %}

{% block body %}
    <h1>Translatable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for translatable in translatables %}
            <tr>
                <td>{{ translatable.id }}</td>
                <td>{{ translatable.title }}</td>
                <td>{{ translatable.content }}</td>
                <td>
                    <a href="{{ path('translatable_show', {'id': translatable.id}) }}">show</a>
                    <a href="{{ path('translatable_edit', {'id': translatable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('translatable_new') }}">Create new</a>
{% endblock %}
