{% extends 'base.html.twig' %}

{% block title %}Timestampable index{% endblock %}

{% block body %}
    <h1>Timestampable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timestampable in timestampables %}
            <tr>
                <td>{{ timestampable.id }}</td>
                <td>{{ timestampable.title }}</td>
                <td>{{ timestampable.body }}</td>
                <td>{{ timestampable.createdAt ? timestampable.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ timestampable.updatedAt ? timestampable.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('timestampable_show', {'id': timestampable.id}) }}">show</a>
                    <a href="{{ path('timestampable_edit', {'id': timestampable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('timestampable_new') }}">Create new</a>
{% endblock %}
