{% extends 'base.html.twig' %}

{% block title %}Timestampable{% endblock %}

{% block body %}
    <h1>Timestampable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timestampable.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ timestampable.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ timestampable.body }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ timestampable.createdAt ? timestampable.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ timestampable.updatedAt ? timestampable.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('timestampable_index') }}">back to list</a>

    <a href="{{ path('timestampable_edit', {'id': timestampable.id}) }}">edit</a>

    {{ include('timestampable/_delete_form.html.twig') }}
{% endblock %}
