{% extends 'base.html.twig' %}

{% block title %}Tree index{% endblock %}

{% block body %}
    <h1>Tree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tree in trees %}
            <tr>
                <td>{{ tree.id }}</td>
                <td>{{ tree.title }}</td>
                <td>
                    <a href="{{ path('tree_show', {'id': tree.id}) }}">show</a>
                    <a href="{{ path('tree_edit', {'id': tree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Tree Basic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tree in treesBasic %}
            <tr>
                <td>{{ tree.id }}</td>
                <td>{{ tree.title }}</td>
                <td>
                    <a href="{{ path('tree_show', {'id': tree.id}) }}">show</a>
                    <a href="{{ path('tree_edit', {'id': tree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tree_new') }}">Create new</a>
{% endblock %}
