{% extends 'base.html.twig' %}

{% block title %}Blameable index{% endblock %}

{% block body %}
    <h1>Blameable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blameable in blameables %}
            <tr>
                <td>{{ blameable.id }}</td>
                <td>{{ blameable.title }}</td>
                <td>{{ blameable.createdBy }}</td>
                <td>{{ blameable.updatedBy }}</td>
                <td>
                    <a href="{{ path('blameable_show', {'id': blameable.id}) }}">show</a>
                    <a href="{{ path('blameable_edit', {'id': blameable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blameable_new') }}">Create new</a>
{% endblock %}
